@model AnsewrsVM
@{
    int answerType = (int)Model.AnswersMaster.AnswerType;
    string answer1 = "";
    string answer2 = "";
    string answer3 = "";
    string answer4 = "";
    string answer5 = "";
    string answer1Checked = "";
    string answer2Checked = "";
    string answer3Checked = "";
    string answer4Checked = "";
    string answer5Checked = "";
    for (int i = 0; i < Model.AnswersDetails.Count(); i++)
    {
        if (i == 0)
        {
            answer1 = Model.AnswersDetails[i].AnswerText;
            answer1Checked = Model.AnswersDetails[i].Id == ViewBag.AnswerDetailId ? "checked" : "";
        }
        if (i == 1)
        {
            answer2 = Model.AnswersDetails[i].AnswerText;
            answer2Checked = Model.AnswersDetails[i].Id == ViewBag.AnswerDetailId ? "checked" : "";
        }
        if (i == 2)
        {
            answer3 = Model.AnswersDetails[i].AnswerText;
            answer3Checked = Model.AnswersDetails[i].Id == ViewBag.AnswerDetailId ? "checked" : "";
        }
        if (i == 3)
        {
            answer4 = Model.AnswersDetails[i].AnswerText;
            answer4Checked = Model.AnswersDetails[i].Id == ViewBag.AnswerDetailId ? "checked" : "";
        }
        if (i == 4)
        {
            answer5 = Model.AnswersDetails[i].AnswerText;
            answer5Checked = Model.AnswersDetails[i].Id == ViewBag.AnswerDetailId ? "checked" : "";
        }

    }
}
       <div class="form-row">
           <div class="col">
               <label for="AnswerName" class="partalViewModalLables">أسم الاجابة<span style="color:red">*</span></label>
               <input type="text" id="AnswerName" class="form-control" value="@Model.AnswersMaster.NameAR" placeholder="أسم ألاجابة">
           </div>
           <div class="col">
               <label for="AnswerType" class="partalViewModalLables">نوع الاجابة<span style="color:red">*</span></label>
               <select class="form-control" id="AnswerType" onchange="ShowAndHideChoices()">
                   <option value="0" selected>صح وخطأ</option>
                   <option value="1">أختيارات متعددة</option>
                   <option value="2">مقالى</option>
               </select>
           </div>
           <div class="col" id="AnswersNumberDiv" style="display:none">
               <label for="AnswersNumber" class="partalViewModalLables">عدد الاجابات</label>
               <select class="form-control" id="AnswersNumber" onchange="ShowAndHideAnswers()">
                   <option value="2" selected>اختيارين</option>
                   <option value="3">3 اختيارات</option>
                   <option value="4">4 اختيارات</option>
                   <option value="5">5 اختيارات</option>
               </select>
           </div>
       </div>
       <div class="form-row" id="TrueAndFalse" style="display: table-cell; padding-right: 29px; padding-top: 29px; ">
           <div class="m-formGroup">
               <input class="a-input TrueAndFalseRadio" @answer1Checked type="radio" name="radios2" id="true">
               <label for="true"></label>
               <label class="-text" for="true">صح</label>
           </div>
           <div class="m-formGroup">
               <input class="a-input TrueAndFalseRadio" @answer2Checked type="radio"  name="radios2" id="false">
               <label for="false"></label>
               <label class="-text" for="false">خطأ</label>
           </div>


       </div>
       <div class="form-row" id="multiAnswers" style="display:none">
           <div class="col">

               <div class="m-formGroup" style="display: table; padding-top: 29px;">
                   <input class="a-input" type="radio" @answer1Checked name="radios" id="answer1">
                   <label for="answer1"></label>
                   <label class="-text" for="answer1"><input class="form-control form-control-sm" IdForRadio="answer1" value="@answer1" type="text" style="margin-top: 10px; width: 198%;" placeholder="الاجابة الاولى"></label>
               </div>
               <div class="m-formGroup" style="display: table;">
                   <input class="a-input" type="radio" @answer2Checked name="radios" id="answer2">
                   <label for="answer2"></label>
                   <label class="-text" for="answer2"><input class="form-control form-control-sm" IdForRadio="answer2" value="@answer2" type="text" style="margin-top: 10px; width: 198%;" placeholder="الاجابة الثانية"></label>
               </div>
               <div class="m-formGroup" style="display: none;" id="multiAnswers3">
                   <input class="a-input" type="radio" @answer3Checked name="radios" id="answer3">
                   <label for="answer3"></label>
                   <label class="-text" for="answer3"><input class="form-control form-control-sm" IdForRadio="answer3" value="@answer3" type="text" style="margin-top: 10px; width: 198%;" placeholder="الاجابة الثالثة"></label>
               </div>
               <div class="m-formGroup" style="display: none;" id="multiAnswers4">
                   <input class="a-input"  type="radio" @answer4Checked name="radios" id="answer4">
                   <label for="answer4"></label>
                   <label class="-text" for="answer4"><input class="form-control form-control-sm" IdForRadio="answer4" value="@answer4" type="text" style="margin-top: 10px; width: 198%;" placeholder="الاجابة الرابعة"></label>
               </div>
               <div class="m-formGroup" style="display: none;" id="multiAnswers5">
                   <input class="a-input"  type="radio" @answer5Checked name="radios" id="answer5">
                   <label for="answer5"></label>
                   <label class="-text" for="answer5"><input class="form-control form-control-sm" IdForRadio="answer5" value="@answer5" type="text" style="margin-top: 10px; width: 198%;" placeholder="الاجابة الخامسة"></label>
               </div>
           </div>
       </div>
        <div class="form-row" style="margin-right: 43%; margin-top: 20px; padding-bottom: 20px; ">
            <div class="d-flex justify-content-center" style="margin-right: 10%; margin-top: 1%;">
                <div class="spinner-border" id="Loader" role="status" style="display:none !important">
                </div>
            </div>
            <input type="button" id="SaveBtn" style=" margin-left: 25px; margin-right: -49px;" class="btn btn-info" onclick="AnswerSaveChange()" value="حفظ" />
            <input type="button" id="CancelBtn" class="btn btn-danger" onclick="Cancel2()" value="إلغاء" />
        </div>
        <script>

    var answerMasterId = '@Model.AnswersMaster.Id';
    if (answerMasterId != '0') {
        $('#AnswerType').val(@answerType);
        $('#AnswersNumber').val(@Model.AnswersDetails.Count());
        ShowAndHideChoices();
        ShowAndHideAnswers();
    }

            function ShowAndHideChoices() {
                debugger;
                if ($('#AnswerType').val() == 1) {
                    $('#AnswersNumberDiv').show();
                    $('#multiAnswers').show();
                    $('#TrueAndFalse').hide();
                }
                else if ($('#AnswerType').val() == 0) {
                    $('#AnswersNumberDiv').hide();
                    $('#multiAnswers').hide();
                    $('#TrueAndFalse').show();
                }
                else {
                    $('#multiAnswers').hide();
                    $('#AnswersNumberDiv').hide();
                    $('#TrueAndFalse').hide();
                }
            }
    function ShowAndHideAnswers() {
        if ($('#AnswersNumber').val() == 2) {
            $('#multiAnswers3').hide();
            $('#multiAnswers4').hide();
            $('#multiAnswers5').hide();
        }
        else if ($('#AnswersNumber').val() == 3) {
            $('#multiAnswers3').show();
            $("#multiAnswers3").css("display","table");
            $('#multiAnswers4').hide();
            $('#multiAnswers5').hide();
        }
        else if ($('#AnswersNumber').val() == 4) {
            $('#multiAnswers3').show();
            $("#multiAnswers3").css("display", "table");
            $('#multiAnswers4').show();
            $("#multiAnswers4").css("display", "table");
            $('#multiAnswers5').hide();
        }
        else if ($('#AnswersNumber').val() == 5) {
            $('#multiAnswers3').show();
            $("#multiAnswers3").css("display", "table");
            $('#multiAnswers4').show();
            $("#multiAnswers4").css("display", "table");
            $('#multiAnswers5').show();
            $("#multiAnswers5").css("display", "table");
        }
    }
    function AnswerSaveChange() {
        var validDetails = true;
        $('#Loader').show();
        $('#SaveBtn').hide();
        $('#CancelBtn').hide();
        var answerMaster = {};
        var answerDetails = [];
        answerMaster.Id = '@Model.AnswersMaster.Id';
        answerMaster.NameAR = $('#AnswerName').val();
        answerMaster.NameEN = $('#AnswerName').val();
        answerMaster.AnswerType = $('#AnswerType').val();
        if ($('#AnswerType').val() == 0) {
            $('.TrueAndFalseRadio').each(function (i, obj) {
                if ($(obj).is(":visible")) {
                    var answerDetail = {};
                    answerDetail.IsRight = $(obj).is(':checked');
                    answerDetail.AnswerText = $(obj).val();
                    answerDetails.push(answerDetail);
                }
            });
        }
        if ($('#AnswerType').val() == 1) {
            $('.form-control-sm').each(function (i, obj) {
                if ($(obj).is(":visible")) {
                    var answerDetail = {};
                    var idForRadio = $(obj).attr('IdForRadio');
                    answerDetail.AnswerText = $(obj).val();
                    answerDetail.IsRight = $('#' + idForRadio).is(':checked');
                    answerDetails.push(answerDetail);
                    if ($(obj).val().trim() == '') {
                        validDetails = false;
                    }
                }
            });
        }
        if ($('#AnswerName').val().trim() == '' || validDetails == '')
        {
            Swal.fire(
                'تنبية',
                'برجاء ملئ البيانات بشكل صحيح',
                'warning'
            );
            $('#Loader').hide();
            $('#SaveBtn').show();
            $('#CancelBtn').show();
            return 0;
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddOrUpdateAnswerNew")",
            data: { AnswersMaster: answerMaster, AnswersDetails: answerDetails, CompetitionId: $('#compeitions').val(), QuestionId: '@Model.QuestionId' },
            dataType: "text",
            success: function (response) {
                if ($.parseJSON(response).success == true || $.parseJSON(response).success == "true") {
                    Swal.fire(
                        'جيد',
                        'تم الحفظ بنجاح',
                        'success'
                    ).then((result) => {
                        Cancel();
                        location.reload();
                    })

                }
                else {
                    Swal.fire(
                        'تنبية',
                        $.parseJSON(response).arabicMsg,
                        'warning'
                    );
                    $('#Loader').hide();
                    $('#SaveBtn').show();
                    $('#CancelBtn').show();
                }
            },
            error: function (req, status, error) {
                Swal.fire(
                    'تنبية',
                    'خطأ بالسيرفر',
                    'warning'
                );
                $('#Loader').hide();
                $('#SaveBtn').show();
                $('#CancelBtn').show();
            }
        });

    }
        </script>