@using AdminPanel.Models
@model List<OnlineCompetition.Models.Competitions>
@{ ViewData["Title"] = "Cometition Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/fontawesome.css" rel="stylesheet" />
<script src="~/js/sweetalert2.js"></script>

<h1 style="text-align: center; margin-top: 10px; margin-bottom: 30px;">أعدادت المسابقة</h1>

<div id='addCompetitionModal' class='modal fade' data-url='@Url.Action("AddOrEditCompetition")?id=0'>
    <div id='addCompetitionContainer' class="container partialViewModal">
    </div>
</div>

<button id='addCompetition' class="btn btn-primary btn-outline-primary" style="float: right; margin: 10px;">أضافة مسابقة</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>أسم المسابقة</th>
            <th>تاريخ الانشاء</th>
            <th>المدة</th>
            <th>نشط</th>
            <th style="text-align: center">أضافة اسألة</th>
            <th style="text-align:center">تعديل / حذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var OnlineCompetition in Model)
        {
        <tr>
            <td>@OnlineCompetition.NameAR</td>
            <td>@OnlineCompetition.CreationDate.ToString("MM/dd/yyyy")</td>
            <td>@OnlineCompetition.Duration</td>
            @{
                if (OnlineCompetition.IsActive == true)
                {
                    <td><span style="font-family: Arial Unicode MS, Lucida Grande">&#10004;</span></td>
                }
                else
                {
                    <td><span style="font-family: Arial Unicode MS, Lucida Grande">&#10008;</span></td>
                }
            }
            <td style="text-align:center">
                <a class="btn btn-secondary" style="cursor: pointer; color: white;" competitionId="@OnlineCompetition.Id" onclick="GoToQuestions(@OnlineCompetition.Id)">أضف</a>
            </td>
            <td style="text-align:center">
                <a class="btn btn-danger" style="cursor: pointer; color: white;" competitionId="@OnlineCompetition.Id" onclick="Delete(this)">حذف</a>
                <a class="btn btn-primary editCompetition" style="cursor: pointer; color: white;" competitionId="@OnlineCompetition.Id">تعديل</a>
            </td>
        </tr> }
            </tbody>
        </table>
<script>
            function GoToQuestions(competitionId) {
                window.location.href = '@Url.Action("Question_Index", "Competitions")?competitionId=' + competitionId;
            }

            $(document).ready(function () {
                $('#addCompetition').click(function () {
                    var url = $('#addCompetitionModal').data('url');
                    $.get(url, function (data) {
                        $('#addCompetitionContainer').html(data);
                        $("#addCompetitionModal").addClass("in");
                        $(".modal-backdrop").show()
                        $("#addCompetitionModal").show();
                        $('#addCompetitionModal').modal('show');
                    });
                });
                $('.editCompetition').click(function () {
                    var url = $('#addCompetitionModal').data('url');
                    url = url.replace('0', $(this).attr('competitionid'))
                    $.get(url, function (data) {
                        $('#addCompetitionContainer').html(data);
                        $("#addCompetitionModal").addClass("in");
                        $(".modal-backdrop").show()
                        $("#addCompetitionModal").show();
                        $('#addCompetitionModal').modal('show');
                    });
                });
            });
            function Cancel() {
                $("#addCompetitionModal").removeClass("in");
                $(".modal-backdrop").hide()
                $("#addCompetitionModal").hide();
            }
            function Delete(obj) {
                var objToSend = {};
                objToSend.Id = $(obj).attr('competitionId');
                Swal.fire({
                    title: 'تأكيد',
                    text: "هل انت متأكد من الحذف",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: "الغاء",
                    confirmButtonText: 'نعم'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("DeleteCompetition")",
                            data: { obj: objToSend },
                            dataType: "text",
                            success: function (response) {
                                if ($.parseJSON(response).success == true || $.parseJSON(response).success == "true") {
                                    Swal.fire(
                                        'حذف',
                                        'تم الحذف بنجاح',
                                        'success'
                                    ).then((result) => {
                                        Cancel();
                                        location.reload();
                                    })

                                }
                                else {
                                    Swal.fire(
                                        'تنبية',
                                        'برجاء المحاولة فى وقت أخر',
                                        'warning'
                                    );
                                    $('#Loader').hide();
                                    $('#SaveBtn').show();
                                    $('#CancelBtn').show();
                                }
                            },
                            error: function (req, status, error) {
                                Swal.fire(
                                    'تنبية',
                                    'خطأ بالسيرفر',
                                    'warning'
                                );
                                $('#Loader').hide();
                                $('#SaveBtn').show();
                                $('#CancelBtn').show();
                            }
                        });
                    }
                })
            }
</script>