@using AdminPanel.Models
@model List<OnlineCompetition.Models.Competitions>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Competitions</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>أسم المسابقة</th>
            <th>تاريخ الانشاء</th>
            <th>المدة</th>
            <th>تعديل / حذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var OnlineCompetition in Model)
        {
        <tr>
            <td>@OnlineCompetition.NameAR</td>
            <td>@OnlineCompetition.CreationDate.ToString("yyyy/dd/mm")</td>
            <td>@OnlineCompetition.Duration</td>
            <td>
                <a class="btn btn-primary" asp-controller="Competitions" asp-action="Update" asp-route-id="@OnlineCompetition.Id">Manage Roles</a>
                <a class="btn btn-primary" asp-controller="Competitions" asp-action="Delete" asp-route-id="@OnlineCompetition.Id">Manage Roles</a>
            </td>
        </tr>
        }
    </tbody>
</table>